.App {
  text-align: center;

}

span{


box-sizing: border-box;
padding: 10px;
margin: 2px auto;
}
.main{
 
  font-weight: 700;
 
  border: 1px  solid rgb(22, 22, 22);
  border-radius: 5px;
  background-color: rgb(243, 173, 173);
 padding: 10PX ;
  width: 24rem;
  margin:0px auto;
  height: 50px auto ;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px  rgb(125, 50, 50);
}
Button{
cursor: pointer;

  height: 25px;
  font-weight: 700;
  margin:5px;
 font-family: monospace;
border-radius: 6px;
background-color: #ef5151;
 
}
button:hover{

  color: rgb(253, 253, 253);
  background-color: green;
 
}

.remove:hover{
  background-color: red;
}
ul{
 text-transform: capitalize;
 text-align: justify;
 text-decoration: none;
 text-align: justify;
 list-style-type: none;


}
h1{
margin-top: 10px;
  /* background-color: rgb(133, 55, 55); */
  color: rgb(14, 9, 9);
  text-shadow: 1px 3px  rgb(204, 193, 193);
  padding: 2px  ;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgb(43, 36, 36);
font-family: cursive;
}
.text{
  justify-content: center;
  height: 25px;
width: 12rem;
  border-radius: 2px;
 
}
.add{
  width: 5rem;
  background-color: rgb(117, 228, 117);
  

}
